.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 200px;
    height: 300px;
    margin-left: 10px;
    border-radius: 4%;
    background-color: #f2f2f2;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 5px 20px;
}
.card-img {
    width: 100%;
    height: 40%;
    border-top-right-radius: 4%;
    border-top-left-radius: 4%;
}
.card-text {
    font-size: 18;
    text-align: center;
}
.head-title {
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 20px;

}